@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Aircompany" asp-action="Index">Начать работу со структурой</a>.</p>
</div>
