@model DataInputViewModel
@{
	ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
	<h2>Начальная страница</h2>
	<form asp-action="Loading" asp-antiforgery="true">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>					
		<input asp-for="FileOutput" placeholder="Путь к файлу, для загрузки данных"/>
		<span asp-validation-for="FileOutput" class="text-danger"></span><br />
		@Html.RadioButton("FileType", "json")
		<span>json</span>
		@Html.RadioButton("FileType", "xml")
		<span>xml</span> <br />
		<button type="submit" class="btn btn-info">Загрузить</button>
	</form>

	<p>ИЛИ</p>
	<form asp-action="Loading" asp-antiforgery="true">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>					
		<input asp-for="NameCompany" placeholder="Название компании"/>
		<span asp-validation-for="NameCompany" class="text-danger"></span><br />
		<button type="submit" class="btn btn-info">Загрузить</button>
	</form>
</div>	